asv/Service References/ASVServiceReference/ASV.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="schema.pfr.ru/asv" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:chead="http://www.intersystems.com/SOAPheaders" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="schema.pfr.ru/asv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="schema.pfr.ru/asv">
      <s:element name="AutoLogin">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="AutoLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="AutoLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="username" type="s:string" />
            <s:element minOccurs="0" name="password" type="s:string" />
            <s:element minOccurs="0" name="clientVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="LoginResult" type="s0:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" name="userId" type="s:string" />
          <s:element minOccurs="0" name="userAdditionInfoId" type="s:string" />
          <s:element minOccurs="0" name="userFullName" type="s:string" />
          <s:element minOccurs="0" name="Email">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="255" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" name="Initials" type="s:string" />
          <s:element minOccurs="0" name="roles" type="s:string" />
          <s:element minOccurs="0" name="resources" type="s:string" />
          <s:element minOccurs="0" name="UserDepartamentCode" type="s:string" />
          <s:element minOccurs="0" name="TerritoryDepartaments" type="s0:ArrayOfTerritoryDptPFRTerritoryDptPFR" />
          <s:element minOccurs="0" name="Config" type="s0:ADBSettings" />
          <s:element minOccurs="0" name="IsTerritoryUser" type="s:boolean" />
          <s:element minOccurs="0" name="ServerTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTerritoryDptPFRTerritoryDptPFR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TerritoryDptPFR" nillable="true" type="s0:TerritoryDptPFR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TerritoryDptPFR">
        <s:sequence>
          <s:element minOccurs="0" name="uselessId" type="s:string" />
          <s:element name="ptksId" type="s:string" />
          <s:element minOccurs="0" name="RegDivID" type="s:string" />
          <s:element minOccurs="0" name="TerritorialOrganFK" type="s0:TerritorialOrgan" />
          <s:element minOccurs="0" name="Address">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="3000" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Code" type="s:string" />
          <s:element minOccurs="0" name="CurrentRegNum" type="s:string" />
          <s:element minOccurs="0" name="FullName">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="1000" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Head">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="HeadPost">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="IsCurrent" type="s:boolean" />
          <s:element minOccurs="0" name="Name">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="255" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Phone">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="255" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="RegNumStart" type="s:string" />
          <s:element minOccurs="0" name="RegNumEnd" type="s:string" />
          <s:element minOccurs="0" name="ShortName">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="1000" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="UniqueId" type="s:string" />
          <s:element minOccurs="0" name="IsFiction" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TerritorialOrgan">
        <s:sequence>
          <s:element minOccurs="0" name="uselessId" type="s:string" />
          <s:element name="ptksId" type="s:string" />
          <s:element minOccurs="0" name="ShortName">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="CompanyName">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Code">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Adress">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="HeadName">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="HeadAppointment">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Phone">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="OKATO" type="s:string" />
          <s:element minOccurs="0" name="INN" type="s:string" />
          <s:element minOccurs="0" name="KPP" type="s:string" />
          <s:element minOccurs="0" name="OGRN" type="s:string" />
          <s:element minOccurs="0" name="Comment">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="EMail">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PostAddres">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Fax">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ExecutorName">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ExecutorAppointment">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="256" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="RegisterDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ADBSettings">
        <s:sequence>
          <s:element minOccurs="0" name="UBPCode">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="100" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="UBPName">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="2000" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="OPFRCode">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="100" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ClientINN">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="100" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ClientKPP">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="100" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ClientAccountNumber">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="100" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ChiefAppointment">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="100" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ChiefName">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="200" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ExecutorAppointment">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="100" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ExecutorName">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="100" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ExecutorPhone">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="100" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Notice">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="4" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathTo7Z">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="300" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToBlackBoxDir">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="300" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToDocsTemplates">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="300" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToAnalyticalTemplates">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="300" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToTemporaryFiles">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="300" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ItemsPrintMaxCount" type="s:string" />
          <s:element minOccurs="0" name="PathToRepaymentResolutionUpload">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="300" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToLogFiles">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="300" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToReportODT">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="300" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToReportODS">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="300" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToAnalyticalFiles">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="300" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToFKFolder">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToFKFolderCarantin">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToAccountMessageFolder">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToAccountMessFolderCarantin">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToAccountMessageFolderOut">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToBikImportFolder">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToPreferentialTariffImportFolder">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToPreferentialTariffErrorsFolder">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToAppealProcessAttachedDocuments">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="SMTPLogin">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="SMTPPassword">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="SMTPUrl">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="SMTPPort">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="MailFrom">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="MailSender">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="CSCalculationsError">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="4" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="CSCalculationsErrorsShow" type="s:boolean" />
          <s:element minOccurs="0" name="CSEnableEditOKVEDAndTariffInCS1" type="s:boolean" />
          <s:element minOccurs="0" name="CSPeriodOfVoluntaryProvision" type="s:string" />
          <s:element minOccurs="0" name="CSIdentifyArrears" type="s:boolean" />
          <s:element minOccurs="0" name="MaxMenuHeight" type="s:long" />
          <s:element minOccurs="0" name="MaxDeliveriesInList" type="s:long" />
          <s:element minOccurs="0" name="MaxSendingTime">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="5" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ProductionCalendarEnabled" type="s:boolean" />
          <s:element minOccurs="0" name="DeliveryMailRank" type="s:long" />
          <s:element minOccurs="0" name="DeliveryMailType" type="s:long" />
          <s:element minOccurs="0" name="DeliveryMailCtg" type="s:long" />
          <s:element minOccurs="0" name="DeliveryMailDirect" type="s:long" />
          <s:element minOccurs="0" name="DeliverySendCtg" type="s:long" />
          <s:element minOccurs="0" name="DeliveryPostMark" type="s:long" />
          <s:element minOccurs="0" name="PUExportMaxDocumentsCountInPack" type="s:long" />
          <s:element minOccurs="0" name="PathToOrdersFolderImportFolder">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="DaysExceedForViolationByBankMessage" type="s:long" />
          <s:element minOccurs="0" name="DaysExceedForViolationByInsurerMessage" type="s:long" />
          <s:element minOccurs="0" name="ReportServerName" type="s:string" />
          <s:element minOccurs="0" name="PathToPaymentFL">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="DaysToStoreOldReports" type="s:long" />
          <s:element minOccurs="0" name="MaxEmailAttachSize" type="s:long" />
          <s:element minOccurs="0" name="UpdateMirrorReportServerTime" type="s:long" />
          <s:element minOccurs="0" name="AllowTerritoryUserGroupCreation" type="s:boolean" />
          <s:element minOccurs="0" name="FSSPURL">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10000" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="FSSPPassword">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="1000" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="FSSPLogin">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="1000" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="FakeRegNumberForInterRegionalRepay">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="12" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="OKPO">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToOutputMessageFolder">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToInputMessageFolder">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToArchiveInputMessageFolder">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="PathToBadInputMessageFolder">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="400" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="CompilerUniqueNumber">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="FirstMessageNumberInOperationDay">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="11" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="MaxCreditOrgMessageSendingTime">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="5" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="CheckProductionCalendar" type="s:boolean" />
          <s:element minOccurs="0" name="LastInstalationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="LogoutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.intersystems.com/SOAPheaders">
      <s:element name="CSPCHD" type="chead:CSPCHD" />
      <s:complexType name="CSPCHD">
        <s:sequence>
          <s:element name="id" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutoLoginSoapIn">
    <wsdl:part name="parameters" element="s0:AutoLogin" />
  </wsdl:message>
  <wsdl:message name="AutoLoginSoapOut">
    <wsdl:part name="parameters" element="s0:AutoLoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="s0:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="s0:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="s0:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="s0:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="CacheSessionHeader">
    <wsdl:part name="CSPCHD" element="chead:CSPCHD" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationServiceSoap">
    <wsdl:operation name="AutoLogin">
      <wsdl:input message="s0:AutoLoginSoapIn" />
      <wsdl:output message="s0:AutoLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="s0:LoginSoapIn" />
      <wsdl:output message="s0:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="s0:LogoutSoapIn" />
      <wsdl:output message="s0:LogoutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationServiceSoap" type="s0:AuthenticationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoLogin">
      <soap:operation soapAction="schema.pfr.ru/asv/ASV.Services.AuthenticationService.AutoLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:CacheSessionHeader" part="CSPCHD" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="s0:CacheSessionHeader" part="CSPCHD" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="schema.pfr.ru/asv/ASV.Services.AuthenticationService.Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:CacheSessionHeader" part="CSPCHD" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="s0:CacheSessionHeader" part="CSPCHD" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="schema.pfr.ru/asv/ASV.Services.AuthenticationService.Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:CacheSessionHeader" part="CSPCHD" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="s0:CacheSessionHeader" part="CSPCHD" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="AuthenticationServiceSoap" binding="s0:AuthenticationServiceSoap">
      <soap:address location="http://10.13.0.45/csp/asv/ASV.Services.AuthenticationService.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>